.creations__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 8rem;
}

.creations__btn{
    padding: .2rem 1rem;
}

.creations__title{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.creations__box{
  
    
    display: grid;
    gap:  2%;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 450px 450px;
    height: auto;
    margin-bottom: 6rem;
    margin-left: auto;
    padding: 0 6rem;
    
    width: 80vw;
   
}


.creations__box--1{
    
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    width: 100%;

    
}

.creations__box--2{
  
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-night-arcade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
   
   

}
.creations__box--3{
    width: 100%;
    height: 100%;
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-soccer-team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
   
}
.creations__box--4{
    width: 100%;
    height: 100%;
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-grid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
   
}
.creations__box--5{
   
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-from-above.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
   
}
.creations__box--6{
    width: 100%;
    height: 100%;
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-pocket-borealis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
.creations__box--7{
    
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-curiosity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}
.creations__box--8{
  
    background-image: url(/loopstudios-landing-page-main/images/desktop/image-fisheye.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}

.text{
    color: #fdfdfd;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 3rem;
    left: 1.5rem;
    position: absolute;

}


@media screen and (max-width: 600px){

    .creations{
        position: relative;
        height: auto;
        padding-bottom: 2rem;
    }

    .creations__container{
       
        justify-content: center;
        align-items: center;
    }
    .creations__title{
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
       
    }

    .creations__btn{
        position: absolute;
        bottom: 2rem;
        padding: 8px 18px;
        background-color: transparent;
        
    }


   .creations__box{
    display: flex;
    flex-direction: column;
    gap: 20px ;
    height: auto;
    padding:0;
    width: 100vw;   
   }

      .creations__box--1{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-deep-earth.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
       
    }
    .creations__box--2{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-night-arcade.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--3{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-soccer-team.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--4{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-grid.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--5{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-from-above.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--6{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-pocket-borealis.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--7{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-curiosity.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }
    .creations__box--8{
        background-image: url(/loopstudios-landing-page-main/images/mobile/image-fisheye.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 240px;
    }

}
