
:root{
    --branco: hsl(0, 0%, 100%);
    --preto: #000000;
    --cinza-escuro:Dark Gray hsl(0, 0%, 55%);
    --cinza-muito-escuro: Dark Gray hsl(0, 0%, 41%);
    --fonte-principal: 'Alata', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}

body{
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 300;
    
    
    
}